@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

:root {
  --fw: 400;
  --fw-bold: 600;

  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1rem;
}

html {
  font-family: 'Roboto Mono', monospace;
}
